*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body {
  position: relative;
  width: 100vw;
  background-color: #d0d0d0;
  font-family: "Nunito", sans-serif;
}

header {
  text-align: center;
  padding: 10px 0;
  font-family: "Concert One", sans-serif;
  /* background-color: antiquewhite; */
}

a {
  text-decoration: none;
  color: rgba(17, 17, 17, 0.8);
}

.topNav {
  display: flex;
  justify-content: center;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 550px;
  gap: 15px;
  height: 50px;
  padding: 0 10px;
  overflow-x: auto;
  scrollbar-width: none;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-topSide-items {
  padding: 5px;
  background-color: rgba(185, 185, 185, 0.374);
  border: solid 2px rgb(185, 185, 185);
  border-radius: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-bottom: 50px;
  padding: 0 15px;
}

article {
  flex-grow: 1;
  width: 90%;
  max-width: 400px;
  background-color: rgba(185, 185, 185, 0.374);
  border-radius: 5px;
  box-shadow: 0px 1px 16px 3px #b5b5b5;
}

.image-box {
  display: flex;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: rgba(185, 185, 185, 0.374);
  border-radius: 5px 5px 0 0;
}

.image-box img {
  width: 100%;
  max-height: 300px;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
}

.info-box {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-user {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.info-user a {
  color: #272727;
  font-size: 14px;
}

.info-user p {
  color: #272727b4;
  font-size: 12px;
}

.footer-nav {
  width: 100%;
  background-color: rgba(194, 194, 194, 0.97);
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.footer-nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  height: 50px;
  overflow: hidden;
}

.nav-botSide-items {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 845px) {
  header {
    position: fixed;
    height: 70px;
    padding: 10px;
    font-family: "Concert One", sans-serif;
    color: aqua;
    z-index: 2;
  }
  .topNav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    padding: 10px;
    padding-left: 200px;
    background-color: #d0d0d0fa;
    border-bottom: solid 1px rgba(194, 194, 194, 0.97);
    z-index: 1;
  }

  .nav-content {
    max-width: none;
    width: auto;
    gap: 10px;
    height: 50px;
    padding: 0 10px;
    overflow-x: auto;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 50px;
    padding: 85px 15px 0 65px;
  }

  .footer-nav {
    width: 50px;
    background-color: #d0d0d0;
    border-right: solid 1px rgba(194, 194, 194, 0.97);
    position: fixed;
    top: 70px;
    left: 0px;
  }

  .footer-nav-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    padding: 30px 0;
    height: calc(100vh - 70px);
    overflow: hidden;
  }

  .nav-botSide-items,
  .user-profil {
    width: 24px;
    height: 24px;
  }

  .user-profil-contain {
    position: absolute;
    bottom: 20px;
    left: 12.5px;
  }
}
